<div
  class="flex justify-content-between surface-0 py-3 px-5 border-1 border-300 align-items-center gap-5"
>
  <span
    class="flex align-items-center justify-content-between gap-4 cursor-pointe w-full lg:justify-content-start"
  >
    <i class="pi pi-bars block lg:hidden"></i>
    <i class="pi pi-search text-lg text-500"></i>
    <span class="text-base text-500 hidden lg:block">Search</span>
  </span>
  <div class="flex gap-5 align-items-center">
    <i class="pi pi-inbox cursor-pointer text-lg text-500"></i>
    <i class="pi pi-bell cursor-pointer text-lg text-500"></i>
    <div class="w-2rem h-2rem border-circle bg-orange-500 cursor-pointer"></div>
  </div>
</div>
