<div
  class="surface-0 w-full p-4 border-round-sm card-shadow flex flex-column gap-3"
>
  <div>
    <img height="340px" width="100%" [src]="product.image" alt="" />
  </div>
  <div class="flex flex-column gap-3">
    <div class="flex justify-content-between font-medium text-lg text-900">
      <span>{{ product.name }}</span>
      <span class="flex gap-1 align-items-center"
        ><i class="pi pi-star-fill text-yellow-500"></i
        >{{ product.rate.toFixed(1) }}</span
      >
    </div>
    <span class="text-600">{{ product.description }}</span>
    <span class="text-blue-500 text-lg">${{ product.price.toFixed(2) }}</span>
  </div>
</div>
